.login {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 5px;
	min-width: 300px;
}

.field label {
	color: #D6D6D6;
}

.input {
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #D6D6D6 ;
	font-size: 16px;
}

.btn {
	height: 50px;
	border: none;
	border-radius: 30px;
	background-color: #eb1835;
	color: White;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	font-size: 16px;
}

.btn:hover {
	background-color: #c90821;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	color: #525252;
}

.links a {
	text-decoration: none;
	color: #eb1835;
}

.error {
	color:#c90821;
}