.pr_set_window {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 600px;
	padding: 20px;
	background-color: white;
	border-left: 3px solid var(--separator-line);
	transform: translateX(100%);
	transition: transform 0.3s ease, opacity 0.3s ease;
	overflow-y: auto;
	z-index: 9;
}

.open {
	transform: translateX(0);
}

.headling {
	color: var(--text);
	font-size: 20px;
	font-weight: 500;
}

.name_and_close {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name_and_close img {
	cursor: pointer;
}

.name {
	display: flex;
	align-items: center;
	gap: 10px;
}

.headling2 {
	color: var(--text);
	font-size: 16px;
	font-weight: 500;
}

.table {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
	padding-top: 20px;
}

.users_table {
	padding-bottom: 10px;
	background-color: var(--grey-background);
	border-radius: 10px;
	width: 100%;
	border-collapse: collapse;
}

.users_table td {
	padding: 5px 20px;
	text-align: left;
}

.users_table th {
	padding: 10px 20px;
	text-align: left;
	color: var(--text);
	font-size: 12px;
	font-weight: 300;
}

.add_employee {
	align-self: flex-end;
	color: white;
	padding: 10px 15px;
	background-color: var(--primary);
	border: none;
	border-radius: 10px;
	margin-bottom: 10px;
}

.add_employee:hover {
	background-color: var(--primary2);
}