.comment {
	
}

.header {
	display: flex;
	justify-content: space-between;
}

.author_info {
	display: flex;
	align-items: center;
	gap: 10px;

}

.name {
	font-weight: 600;
}

.date {
	font-size: 12px;
	color: var(--text);
}

.menu_icon {
	width: 24px;
	height: 24px;
}

.menu_icon:hover {
	background-color: var(--subtask-background);
	border-radius: 3px;
}

.description {
	display: flex;
	gap: 20px;
	padding: 12px;
	color: var(--text);
}

.input {
	width: 100%;
	min-height: 80px;
	border: 1px solid var(--separator-line);
	border-radius: 10px;
	background-color: white;
	color: var(--text);
	font-size: 14px;
	font-weight: 100;
	resize: none;
	padding: 10px;
}

.input:focus {
	outline: none;
}

.line {
	border-left: 1px solid var(--subtask-background);
	min-height: 10px;
}

.message {
	padding-bottom: 10px;
}
