.task {
	background-color: var(--grey-background);
	border: 1px solid var(--separator-line);
	border-radius: 10px;
	margin: 10px 0px 0px 0px;
	color: var(--text);
}

.subtask_view {
	background-color: var(--grey-background);
	border-radius: 10px;
	color: var(--text);
}

.input_name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.input {
	width: 210px;
	height: 30px;
	border: none;
	border-bottom: 1px solid #9A9A9A;
	background-color: #F8F8F8;
	color: #525252;
	font-size: 14px;
	font-weight: 100;
}

.input:focus {
	outline: none;
}

.f_and_e_space {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	margin: 10px 0px;
}

.features {
	display: flex;
	gap: 5px;
	height: 24px;
}

.property {
	cursor: pointer;
	background-color: #97ddb5;
	border-radius: 5px;
	padding: 5px 10px;
	color: seagreen;
	font-size: 12px;
}

.executor {
	position: relative;
	z-index: 1;
}

