.wrapper {
	position: relative;
	display: inline-block;
}

.iconContainer {
	display: flex;
	align-items: center;
	gap: 2px;
	cursor: pointer;
	border: none;
	transition: background 0.2s ease;
}

.icon {
	color: var(--text);
}

.date {
	font-size: 14px;
}



.popup {
	position: absolute;
	top: 110%;
	left: 0;
	z-index: 9999;
	background: white;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding: 15px;
}

.delete_date:hover {
	cursor: pointer;
	color: var(--primary);
}

