.project_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
	margin: 0px;
	padding: 0;
}

.project {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	width: 190px;
	height: 28px;
	padding: 10px;
	color: #525252;
	font-size: 14px;
	font-weight: 100;
}

.project:hover {
	cursor: pointer;
	background-color: #e6e6e6;
	border-radius: 5px;
}

.dots {
	display: none;
	width: 10px;
	height: 10px;
	margin: 5px;
}

.project:hover .dots {
	display: block;
}

.dots:hover {
	background-color: #dcdcdc;
}