.link {
	text-decoration: none;
}

.project {
	position: relative;
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	width: 190px;
	height: 28px;
	padding: 10px;
	color: #525252;
	font-size: 14px;
	font-weight: 100;
	
}

.project:hover {
	cursor: pointer;
	background-color: #e6e6e6;
	border-radius: 5px;
}

.dots {
	display: none;
	width: 20px;
	height: 20px;
	border-radius: 5px;
}

.project:hover .dots {
	display: block;
}

.dots:hover {
	background-color: #dcdcdc;
}

.active {
	background-color: #fde9e9;
	border-radius: 5px;
}

